:host {
  background: rgba(255 255 255 / 0.7);
  color: black;
  font-family: monospace;
  margin: 4px;
  position: absolute;
  top: 0;
  transition: all ease-in-out 300ms;
  white-space: pre-wrap;
}
:host(:not(:empty)) {
  border: 1px solid;
}
:host(:hover) {
  background: rgba(255 255 255 / 1);
  box-shadow:
    1px 1px 1px black,
    2px 2px 1px black;
}
